@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color : black;
    --text-color : white;
   
}

.HeadNav-Container{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 10px;  
}


.HeadNavIcons{
    height:75%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.HeadNavIcons:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.Page-Container{
    display: flex;
    position: relative;  
}
.HeadNav>span{
    height: 100%;
    width: 5%;

}

.SideNav{
    width: 10%;
    height: 80vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 0.5%;
}


.Content-Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: scroll;
    top: 2vh;
    margin-top: 0.5vh;
}

.Display-Container{
    margin-left: 22vh;
}
.SideNav>span{
    height: 7%;
    width: 100%;
}

.NavIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.NavIcons:hover{
    background-color: white;
    color: black;

}